{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
{% endblock %}

{% block content %}

<h1 class="pb-2 mb-0">Фильмы в жанре "{{ genres }}"</h1>
{% for movie in movies %}
<div class="d-flex flex-row; header">
  {% thumbnail movie.image "300x400" crop="center" as im %}
  <img src="{{ im.url }}" >
  {% endthumbnail %}
  <div style="margin-left: 40px;">
    <div>
      Фильм: <h6 style="display: inline; margin: 0;">{{ movie.original_title }}</h6> ({{ movie.title }},
      <a href="{% url 'homepage:year' movie.release_year %}" style="color: white;" > {{ movie.release_year }}</a>)
    </div>
    <div>
      <p>
      Жанр:     
      {% for genre in movie.product_type.all %}
      <a href="{% url 'homepage:genre' genre=genre.title %}" style="color: white;" >{{ genre.title }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </div>
    <div>
      Режиссёр: {{ movie.directors.all|join:", " }}
    </div>
    <div>
      <p>
      В ролях: {{ movie.actors.all|join:", " }}</p>
    </div>
    <div>
      Описание фильма: {{ movie.descriptions }}
    </div>
  </div>
</div>
<div style="margin-left: 60px;" class= "py-2">
    <a href="{% url 'homepage:detail' movie.pk %}"> <button type="button" class="btn custom-bg-color text-light" >Перейти к фильму
        </button></a>
      </div>
      {% endfor %}
{% endblock %}