{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}

Поиск по жанрам
{% endblock %}

{% block content %}

<h1 class="pb-2 mb-0">Поиск фильмов по жанрам</h1>
<form method="get">
    
    <div class="mb-3">
    {{ form.as_p }} 
    </div>
    <input type="submit" style='color: #fff;border:1 none; padding:5px 15px; background:none; border-radius: 5px;border-color:#333;'  value="Получить фильм" >
</form>
{% for movie in select_movies %}
    <h2>Фильмы в жанре {{ genres }}</h2>
    <div class='header'>
    {% thumbnail movie.image "300x400" crop="center" as im %}
    <img src="{{ im.url }}" >
    {% endthumbnail %}
    <h3>{{ movie.original_title }}</h3>
    <p>{{ movie.descriptions }}</p>
    </div>
{% endfor %}
{% endblock %}