{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4 m-3 mx-auto custom-form">
    <div class="card form-card align-items-center mx-auto custom-form">
    <div class="card-header">
      Смена пароля
    </div>
    <div class="card-body ">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="form-input custom-form-btn" value="Поменять пароль">
      </form>
    </div>
  </div>
  </div>
{% endblock %} 
